@using C101_Entities
@model IEnumerable<C101_Entities.PatientInformationEntity>

@{
    ViewBag.Title = "PRINT VIEW";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*VIEW BAG MESSAGE ALERT*@
@if (!string.IsNullOrEmpty(ViewBag.Message))
{
    <script>
        alert('@ViewBag.Message');
    </script>
}

@section Scripts {


    <script src="~/Scripts/Print/PrintPage.js"></script>
    @*this is to customize the appearance of your pages when printed.*@
    <link href="@Url.Content("~/Content/TAbsStyle/TAbsStyle.css")" rel="stylesheet" type="text/css" media="print" />

    @*<head>
            <link rel="stylesheet" href="~/Content/print.css" type="text/css" media="print" />
        </head>*@
    @*end section Scripts*@
}


@* HTML markup for the modal *@
<div class="modal fade" id="printAPModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="printAPModalTitle">Modal Title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>This is a simple modal dialog. You can add any content here.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
@using (Html.BeginForm("PrintView", "Print", FormMethod.Post, new { id = "PrintPatientInfoForm" }))
{

    <p>
        @Html.ActionLink("Print PDF", "Print PDF")
    </p>
    <p>
        @Html.ActionLink("Print Excel", "Print Excel")
    </p>

    <div id="prinPatientInfoArea">
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.PATIENTID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PATIENTNAME)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DRUG)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DOSAGE)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DATEMODIFIED)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.PATIENTID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PATIENTNAME) 
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DRUG)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DOSAGE)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DATEONLY)
                    </td>
                </tr>
            }
        </table>
        <button id="btnPrintPage" class="btn btn-primary">Print</button>
    </div>

}




