@using C101_Entities

@model C101_Entities.MenuEntity

@{
    ViewBag.Title = "MenuView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/Scripts/Menu/Menu.js"></script>
    <script src="~/Scripts/Menu/HideOtherTabs.js"></script>

    @*FLATPICKR (CALENDAR) CSS and JavaScript files links *@
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

    @*FLATPICKR (CALENDAR 1) CSS *@
    <script>
        const datepicker1 = flatpickr("#txtPatientInfoDate1", {
            dateFormat: "d-M-Y",//"Y-m-d",
            minDate: "today",
            //maxDate: new Date().fp_incr(30), // 30 days from today
            defaultDate: "today", // initial date when datepickr is opened
            enableTime: true, //Allows users to select time in addition to dates.
            //disable: [
            //   { from: "2024-06-01", to: "2024-06-10" }, // Disable a date range
            //    "2024-07-01" // Disable a specific date
            //],
            clickOpens: false,
            locale: {
                firstDayOfWeek: 1, // Start week on Monday
                weekdays: {
                    shorthand: ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"],
                    longhand: ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
                },
                months: {
                    shorthand: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
                    longhand: ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]
                }
            },
            onChange: function (selectedDates, dateStr, instance) {
                console.log("Selected date: " + dateStr);
            }

        });

        document.getElementById("open-datepicker-btn1").addEventListener("click", function () {
            datepicker1.open();

        });
    </script>

    @*FLATPICKR (CALENDAR 2) CSS *@
    <script>
        const datepicker2 = flatpickr("#txtPatientInfoDate2", {
            dateFormat: "d-M-Y",//"Y-m-d",
            minDate: "today",
            //maxDate: new Date().fp_incr(30), // 30 days from today
            defaultDate: "today", // initial date when datepickr is opened
            enableTime: true, //Allows users to select time in addition to dates.
            //disable: [
            //   { from: "2024-06-01", to: "2024-06-10" }, // Disable a date range
            //    "2024-07-01" // Disable a specific date
            //],
            clickOpens: false,
            locale: {
                firstDayOfWeek: 1, // Start week on Monday
                weekdays: {
                    shorthand: ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"],
                    longhand: ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
                },
                months: {
                    shorthand: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
                    longhand: ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]
                }
            },
            onChange: function (selectedDates, dateStr, instance) {
                console.log("Selected date: " + dateStr);
            }

        });

        document.getElementById("open-datepicker-btn2").addEventListener("click", function () {
            datepicker2.open();

        });
    </script>
}

<head>
    <link href="@Url.Content("~/Content/TAbsStyle/TAbsStyle.css")" rel="stylesheet" type="text/css" />
</head>

@using (Html.BeginForm("MenuView", "Menu", FormMethod.Post, new { id = "MenuViewForm" }))
{
    <h2>CHANGE MENU</h2>

    <head>
        <title>Message Display</title>
    </head>
    <body>
        <input type="hidden" id="status" name="status" value="1">  @*Add a hidden input for status*@

        @Html.DropDownListFor(model => model.SelectedMenu, new SelectList(Model.MENUVM, "MENUID", "MENUID"), "Go to Menu", new { @class = "form-control", id = "ddlGoToMenu", title = "Enter Here" })
        <input type="hidden" class="form-control" id="hiddenTxtGoToMenu" name="conditionGoTo" title="Enter Here">
        <button id="btnGoMenu" class="btn btn-primary">Go</button>

        <!--<div>
            <h2>Message:</h2>-->
        <!-- <p>@Model</p> <!-- Display the message here -->
        <!--@ViewBag.Message
        </div>-->


    </body>

    @*<script src="~/Scripts/Menu/Menu.js"></script>*@


}


@using (Html.BeginForm("MenuViewSearch", "Menu", FormMethod.Post, new { id = "MenuViewSearchForm" }))
{
    <h2>LIST OF MENU</h2>

    <head>
        <title>Message Display</title>
    </head>
    <body>
        <input type="hidden" id="status" name="status" value="1">  @*Add a hidden input for status*@

        @Html.DropDownListFor(model => model.SelectedMenu, new SelectList(Model.MENUVM, "MENUID", "MENUID"), "Search Menu", new { @class = "form-control", id = "ddlSearchMenu", title = "Enter Here" })
        <input type="hidden" class="form-control" id="hiddenTxtSearchMenu" name="menuid" title="Enter Here">
        <button id="btnSearchMenu" class="btn btn-primary">SEARCH</button>

        @foreach (var item in Model.MENUSEARCH)
        {
            <p>@item.MENUID</p>
            <!-- Display other properties as needed -->
        }

    </body>

    @*<script src="~/Scripts/Menu/Menu.js"></script>*@

}
@*@Html.EditorFor(model => model.EXPIRATIONDATE, new { htmlAttributes = new { @class = "form-control", @readonly = "true", id = "txtExpDate", title = "Enter Here", type = "text" } })*@
<div class="date-input-container">
    <div class="input-group">
        <input type="text" class="form-control" id="txtPatientInfoDate1" title="Enter Here" readonly="readonly">
        <button id="open-datepicker-btn1" type="button"><i class="fas fa-calendar-alt"></i></button>
    </div>
    <div class="input-group">
        <input type="text" class="form-control" id="txtPatientInfoDate2" name="painfoenddt" title="Enter Here" readonly="readonly">
        <button id="open-datepicker-btn2" type="button"><i class="fas fa-calendar-alt"></i></button>
    </div>
</div>

<button id="btnSearchPaInfo" class="btn btn-primary">Seach</button>


<h2>C101 TABS</h2>
<head>
    <title>c101 tabs</title>
</head>


@*STATIC DROPDOWN LIST FOR NUMBER OF RECORD SELECTION, VALUE WILL BE USED IN JAVASCRIPT*@
<body>
    <label for="ddlNumOfRec">Show</label>
    <select id="ddlNumOfRec" name="ddlnumofrec">
        <option value="Select">Select</option>
        <option value="6">5 records only</option>
        <option value="11">10 records only</option>
        <option value="21">20 records only</option>
    </select>
</body>

<body>

    <div id="tabs">
        <ul class="nav-tabs">
            <li><a href="#tabPaView" class="tab-link">Patient Information</a></li>
            <li><a href="#tabDrView" class="tab-link">Drug List</a></li>
            <li><a href="#tabMeView" class="tab-link">Menu List</a></li>
        </ul>

        @using (Html.BeginForm("PatientInformationViewTab", "Menu", FormMethod.Post, new { id = "PatientInfoTabForm" }))
        {
            <div id="tabPaView" class="tab-content">
                @*<h2>Tab 1 Content</h2>
                <p>This is the content for Tab 1.</p>*@
                <table class="table" id="PaTableBody">
                    <tr>
                        <th>
                            PATIENT ID
                        </th>
                        <th>
                            PATIENTNAME
                        </th>
                        <th>
                            DRUG
                        </th>
                        <th>
                            DOSAGE
                        </th>
                        <th>
                            DATEMODIFIED
                        </th>
                        <th></th>
                    </tr>
                    @*default maximum number of records is 20*@
                    @foreach (var item in Model.PATIENTINFOTAB.Take(20))
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.PATIENTID)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PATIENTNAME)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DRUG)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DOSAGE)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DATEONLY)
                            </td>
                        </tr>
                    }
                </table>
            </div>
            <input type="hidden" class="form-control" id="txtPaTabId" name="patabid" value="@ViewBag.PaTabId">
        }




        @using (Html.BeginForm("PaInfoTabFilterByDt", "Menu", FormMethod.Post, new { id = "PaInfoTabFilterByDtTabForm" }))
        {
            <div id="tabFilByDtPaView" class="tab-content">
                @*<h2>Tab 1 Content</h2>
        <p>This is the content for Tab 1.</p>*@
                <table class="table" id="FilByDtPaTableBody">
                    <tr>
                        <th>
                            PATIENT ID
                        </th>
                        <th>
                            PATIENTNAME
                        </th>
                        <th>
                            DRUG
                        </th>
                        <th>
                            DOSAGE
                        </th>
                        <th>
                            DATEMODIFIED
                        </th>
                        <th></th>
                    </tr>
                    @*default maximum number of records is 20*@
                    @foreach (var item in Model.FILBYDTPATIENTINFOTAB.Take(20))
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.PATIENTID)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PATIENTNAME)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DRUG)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DOSAGE)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DATEONLY)
                            </td>
                        </tr>
                    }
                </table>
                <input type="hidden" class="form-control" id="txtPaInfoStartDt" name="painfostartdt" title="Enter Here" readonly="readonly">
                <input type="hidden" class="form-control" id="txtPaInfoEndDt" name="painfoenddt" title="Enter Here" readonly="readonly">
                <input type="hidden" class="form-control" id="txtFilByDtPaTabId" name="filbydtpatabid" value="@ViewBag.FilByDtPaTabId">
            </div>
        }




        @using (Html.BeginForm("DrugInfoTab", "Menu", FormMethod.Post, new { id = "DrugInfoTabForm" }))
        {
            <div id="tabDrView" class="tab-content">
                @*<h2>Tab 2 Content</h2>
                <p>This is the content for Tab 2.</p>*@
                <table class="table" id="DrTableBody">
                    <tr>
                        <th>
                            DRUGID
                        </th>
                        <th>
                            DRUGNAME
                        </th>
                        <th>
                            DRUGSTARTDATE
                        </th>
                        <th>
                            EXPIRATIONDATE
                        </th>
                        <th>
                            DOSAGE
                        </th>
                    </tr>

                    @foreach (var item in Model.DRUGINFOTAB)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.DRUGID)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DRUGNAME)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DRUGSTARTDATE)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.EXPIRATIONDATE)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DOSAGE)
                            </td>
                        </tr>
                    }
                </table>
            </div>
            <input type="hidden" class="form-control" id="txtDrTabId" name="drtabid" value="@ViewBag.DrTabId">
        }




        @using (Html.BeginForm("MenuInfoTab", "Menu", FormMethod.Post, new { id = "MenuInfoTabForm" }))
        {
            <div id="tabMeView" class="tab-content">
                @*<h2>Tab 3 Content</h2>
                <p>This is the content for Tab 3.</p>*@
                <table class="table" id="MeTableBody">
                    <tr>
                        <th>
                            MENUID
                        </th>
                        <th>
                            VIEWNAME
                        </th>
                        <th>
                            VIEWCONTROLLER
                        </th>
                    </tr>

                    @foreach (var item in Model.MENUINFOTAB)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.MENUID)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.VIEWNAME)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.VIEWCONTROLLER)
                            </td>
                        </tr>
                    }
                </table>
            </div>
            <input type="hidden" class="form-control" id="txtMeTabId" name="metabid" value="@ViewBag.MeTabId">
        }
    </div>

    @*<input type="text" class="form-control" id="tabid" name="tabid">*@
</body>
